/* 
  *Author:Jose Machava <jose.s.machava@gmail.com>
  *Author URI: http://josemachava.com
  *Description:Malangatana
  *Copyrigth:2018 (c)

 */


.cardColumn{
  @extend .flexbox;
  flex-direction: column;
  justify-content: space-between;
  .card{
    margin: 10px;
    padding: 10px;
    background-color: white;

  }
  .cardTitle{
    align-content: flex-start;

  }
}


.cardRow{
  @extend .flexbox;
  flex-direction:row;
  justify-content: space-between;
  .card{
  	margin: 10px;
  	padding: 2px 10px;
    background-color: white;
    
  }
  
}
.card{
  margin: 0;
  padding: 0;
  color:
  rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


}